
.select-option-btn{
    position: absolute;
    width: 300px;
    height: 60px;
    font-family: "BPG Boxo", sans-serif;
    color: bisque;
    font-size: 20px;
    background-color: rgb(36, 36, 36);
    border: none;
    opacity: 0;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.select-option-btn:hover{
    opacity: 1 !important;
}

.select-option-none-transition{
    transition: 0s !important;
}

.select-option-btn-top{
    top: -25vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.select-option-btn-left{
    left:-35vw;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}
.select-option-btn-right{
    right: -35vw;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}
.select-option-btn-bottom{
    bottom: -25vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
