@import url("//cdn.web-fonts.ge/fonts/bpg-boxo/css/bpg-boxo.min.css");

.home-page{
    width: 100vw;
    height:100vh;
    background-color: rgb(29, 28, 28);
}

.center{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}

.web-icon{
    position: absolute;
    width: 120px;
    background-color: rgb(56, 56, 56);
    border-radius: 4px;
    box-shadow: 0 0px 5px black;
    transform: scale(0);
    opacity: 0;

    animation-name: web-icon;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;

    cursor: pointer;
}

@keyframes web-icon {
    from{

    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
